<h1>About Us</h1>
<p>Welcome to Bike Berlin. We here at Bike Berlin love all kinds of bikes and have specialized in in buying and selling used bikes. Part of our routine is, to check the bikes and bring them in the best condition before selling them. You can be confident, that you are getting like new bikes for a lot less money. Meet us in the store or shoot us a mail or call.</p>
